.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: rgb(218, 218, 211);
  filter: drop-shadow(2px 2px 10px rgb(243, 233, 233));
  padding: 20px;
  gap: 10px;
}

.form .form-data {
  width: 90%;
  display: flex;
  flex-direction: column;
}

/* .form-data input{
   margin: 10px; 
} */

button {
  margin: 5px;
}

.form-data button:hover {
  background-color: rgb(39, 37, 37);
}

.listdata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 200px;
}
